@keyframes bg_move {
    0% {background-position:0 0;}
    100% {background-position: 1000px 0;}
}
@keyframes rotate {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}
@keyframes mouse {
    0% {transform: translateY(0);}
    100% {transform: translateY(-15px);}
}